.nav {
    height: 80px;
    .ant-breadcrumb-link {
        text-align: center;
        margin: 0 25px;
    }
    img {
        width: 48px;
    }
    h2 {
        margin-top: 10px;
        font-size: 13px;
        width: 91px;
        font-weight: normal;
    }
}
.group {
    background-color: #f6f5f6;
    overflow: hidden;
    padding:0 10px;
    .ant-card-grid {
        padding: 5px;
        background-color: #fff;
    }
    .group-title {
        position: relative;
        margin: 5px 10px;
        font-size: 15px;
        .more {
            color: #787d82;
            position: absolute;
            right: 0;
            font-size: 14px;
            font-weight: normal;
        }
    }
    .card {
        .data{
            position: relative;
            right: 35px;
        }
        img{
            position: relative;
            bottom: 50px;
            left: 50px;
            width: 50px;
        }
        
    }   
}
.news {
    padding-top: 10px;
    background-color: #f6f5f6;
    .ant-list {
        background-color: #fff;
        .ant-list-header {
            border-bottom: 0px solid #f0f0f0;
            padding: 0;
        }
    }
    .news-title {
        font-size: 15px;
        padding: 0 10px;
    }
    .from {
        font-weight: normal;
        color: #787d82;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 10px;
    }
    .date {
        font-weight: normal;
        color: #787d82;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 10px;
    }
}

.swiper {
    position: relative;

    .search-area {
        position: absolute;
        display: flex;
        width: 100%;
        top: 20px;
        padding: 0 20px;

        .search-city {
            background-color: #fff;
            width: 85%;
            display: flex;
            align-items: center;

            .city-name {
                padding: 0 10px;
            }
            .city-input {
                flex: 1;
                padding: 0 10px;
                color: #C6C6C6;
            }
        }
        .cut {
            color: #C6C6C6;
            padding-bottom: 2px;
        }
        .search-map {
            width: 15%;
            padding-left: 10px;
        }
    }
}
