.homeIndex {
    height: calc(100% - 50px);
    overflow-y: auto;
}
.swiper {
    position: relative;
    .search-area {
        position: absolute;
        display: flex;
        width: 100%;
        top: 20px;
        padding: 0 20px;
        .search-city {
            background-color: #fff;
            width: 90%;
            display: flex;
            align-items: center;
            .city-name {
                padding: 0 10px;
            }
            .city-input {
                flex: 1;
                padding: 0 10px;
                color: #C6C6C6;
            }
        }
        .cut {
            color: #C6C6C6;
            padding-bottom: 2px;
        }
        .search-map {
            width: 10%;
            padding-left: 10px;
        }
    }
}
.index-nav {
    display: flex;
    margin: 5px 0;
    .img-item {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        .img {
            flex: 1;
        }
        .text {
            font-size: 13px;
        }
    }
}
.group {
    background-color: #f6f5f6;
    overflow: hidden;
    padding:0 10px;
    .ant-card-grid {
        padding: 5px;
        background-color: #fff;
    }
    .group-title {
        position: relative;
        margin: 5px 10px;
        font-size: 15px;
        font-weight: 550;
        .more {
            color: #787d82;
            position: absolute;
            right: 0;
            font-size: 14px;
            font-weight: normal;
        }
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        .card-item {
            display: flex;
            width: 50%;
            padding: 15px;
            background-color: #fff;
            align-items: center;
            border: 5px solid #F6F5F6;
            .data {
                width: 60%;
                .title {
                    font-size: 14px;
                    font-weight: 550;
                }
                .desc {
                    font-size: 13px;
                    color: #787d82;
                }
            }
            .img {
                width: 40%;
            }
        }
    }
}
.news {
    padding-top: 10px;
    background-color: #f6f5f6;
    .ant-list {
        background-color: #fff;
        .ant-list-header {
            border-bottom: 0px solid #f0f0f0;
            padding: 0;
        }
    }
    .news-title {
        font-size: 15px;
        font-weight: 550;
        padding: 10px 10px 0px 10px;
    }
    .title {
        font-size: 13px;
        font-weight: 550;
    }
    .from {
        font-weight: normal;
        color: #787d82;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 10px;
    }
    .date {
        color: #787d82;
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 10px;
    }
}


