.addComment {
    padding: 10px 20px;
    height: 100%;
    background-color: #fcfcfc;
    
    .back {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .ant-form-item-label > label{
        font-size: 18px;
        color: #08c;
    }

    .ant-radio-button-wrapper {
        margin: 0 5px;
    }

    .comment-button {
        position: absolute;
        right: 5px;
    }
}