.login {
    height: 100%;
    padding: 20px;

    .login-title {
        font-size: 40px;
    }

    .login-welcome {
        font-size: 18px;
        color:  #787d82;
    }

    .login-content {
        padding-top: 30px;

        .login-form {
            width: 100%;

            .login-input {
                border-bottom: 1px solid #F6F5F6;
            }

            .login-form-button {
                width: 100%;
                height: 45px;
                margin: 10px 0;
                background: #08c;
                border: none;
                color: #fff;
            }
        }
    }
}