.collect {
    height: 100%;
    background-color: #F6F5F6;
    padding: 10px 20px;
    overflow-y: auto;
    .head {
        display: flex;
        align-items: center;
        .back {
            width: 10%;
            font-size: 20px;
        }
        .house-type {
            width: 80%;
            font-size: 15px;
            text-align: center;
            .sum {
                padding: 0 20px;
            }
            .house2 {
                padding: 0 20px;
            }
        }
        .map {
            width: 10%;
            font-size: 20px;
        }
    }
    .nav {
        display: flex;
        align-items: center;
        text-align: center;
        .contrast {
            width: 70%;
            height: 50px;
            display: flex;
            align-items: center;
            background: #ffa;
            .heart {
                width: 33%;
            }
            .vehicle {
                width: 33%;
            }
            .house {
                width: 33%;
            }
        }
        .sort {
            width: 30%;
            color: rgb(245, 162, 28);
        }
    }
    .content {
        padding-top: 10px;
        .collect-item {
            background-color: #fff;
            margin-bottom: 10px;
            padding: 10px;
            .collect-title {
                display: flex;
                padding-bottom: 10px;
                font-size: 15px;
                font-weight: 550;

                .house-address {
                    width: 70%;
                }

                .house-price {
                    width: 30%;
                }
            }

            .collect-content {
                display: flex;

                .house-img {
                    width: 40%;
                }

                .house-news {
                    width: 60%;
                    padding-left: 15px;
                }
            }

            .more {
                position: relative;
                left: 300px;
                font-size: 20px;
            }
        }
    }
}