.detail {
    height: 100%;
    background-color: #fff;
    padding: 0px 15px;
    overflow-y: auto;
    .head {
        display: flex;
        align-items: center;
        .back {
            width: 10%;
            font-size: 20px;
        }
        .house {
            width: 60%;
            font-size: 15px;
        }
        .head-icon {
            width: 30%;
            font-size: 20px;
            .houselist{
                padding: 5px;
            }
            .collect {
                padding: 5px;
            }
            .share {
                padding: 5px;
            }
        }
    }
    .nav {

        .nav-content {
            width: 100%;

            .money {
                display: flex;
                align-items: center;
                padding: 10px 0;

                .price {
                    width: 65%;
                    font-size: 20px;
                    font-weight: 550;
                }

                .text {
                    width: 15%;
                    font-size: 10px;
                    color: rgb(245, 162, 28);
                }

                .try {
                    width: 20%;
                    color: #787d88;
                }
            }

            .discounts {
                
                .discounts-title {
                    background: #ffa;
                    color: rgb(245, 162, 28);
                    padding: 5px;
                }

                .discounts-content {
                    color: #787d88;
                    padding: 5px 10px;
                }
            }

            .nav-tag {
                display: flex;
                padding: 10px 0;
                overflow-x: auto;
            }

            .area {
                padding: 10px 0;

                .size{
                    display: flex;
                    text-align: center;

                    .area-item {
                        width: 25%;
                        border-right: 1px solid #d5dbe8;
                        
                        .text {
                            font-size: 15px;
                            font-weight: 550;
                        }
                    }

                    .area-item-last {
                        width: 25%;

                        .text {
                            font-size: 15px;
                            font-weight: 550;
                        }
                    }
                }
            }

            .nav-setting {
                display: flex;
                flex-wrap: wrap;

                .setting-item {
                    width: 50%;

                    .set {
                        color: #787d88;
                        padding-right: 10px;
                    }

                    .setting-text {
                        font-weight: 550;
                    }
                }
            }
        }

        .nav-text {
            padding: 10px 0;

            .text-title {
                font-size: 15px;
                font-weight: 550;
            }

            .text-content {
                color: #787d88;
            }
        }
    }
    .introduce {
        padding: 10px 0;
        .introduce-title {
            display: flex;
            align-items: center;
            
            .title {
                width: 80%;
                font-size: 20px;
                font-weight: 550;
            }

            .more {
                width: 20%;
                color: #787d88;
            }
        }

        .introduce-img {
            display: flex;
            align-items: center;

            .img {
                width: 40%;
            }

            .img-text {
                width: 60%;
                padding-left: 10px;
                .img-title {
                    font-size: 15px;
                    font-weight: 550;
                }

                .img-address {
                    color: #787d88;
                    padding: 10px 0;
                }
            }
        }

        .introduce-content {
            display: flex;
            padding: 20px 0;
            width: 100%;
            overflow-x: auto;
            .community {
                background: #ffa;
                color: rgb(245, 162, 28);
                display: flex;
                align-items: center;
            }
        }
    }

    .detail-foot {
        height: 50px;
        background: #fff;
        display: flex;
        align-items: center;
        position: sticky;
        bottom: 0px;
        .foot-collect {
            width: 15%;

            .collect-icon {
                font-size: 20px;
            }
        }
        .foot-news {
            width: 15%;

            .news-icon {
                font-size: 20px;
            }
        }
        .foot-sign {
            width: 35%;
            height: 50px;
            margin-right: 10px;
            color: #fff;
            background: rgb(245, 162, 28);
            border: none;
        }
        .foot-see {
            width: 35%;
            height: 50px;
            color: #fff;
            background: rgb(245, 162, 28);
            border: none;
        }
    }
}