.detail {
    height: calc(100% - 50px);
    background-color: #F6F5F6;
    padding: 10px 15px;
    overflow-y: auto;
    .head {
        display: flex;
        align-items: center;
        .back {
            width: 10%;
            font-size: 20px;
        }
        .house {
            width: 60%;
            font-size: 15px;
        }
        .head-icon {
            width: 30%;
            font-size: 20px;
            .houselist{
                padding: 5px;
            }
            .collect {
                padding: 5px;
            }
            .share {
                padding: 5px;
            }
        }
    }
    .nav {
        display: flex;
        flex-wrap: wrap;

        .nav-content {
            width: 100%;

            .money {
                display: flex;
                align-items: center;
                padding: 10px 0;

                .price {
                    width: 65%;
                    font-size: 20px;
                    font-weight: 550;
                }

                .text {
                    width: 15%;
                    font-size: 10px;
                    color: rgb(245, 162, 28);
                }

                .try {
                    width: 20%;
                    color: #787d88;
                }
            }

            .discounts {
                
                .discounts-title {
                    background: #ffa;
                    color: rgb(245, 162, 28);
                    padding: 5px;
                }

                .discounts-content {
                    color: #787d88;
                    padding: 5px 10px;
                }
            }
            
            .nav-tag {
                display: flex;
                padding: 10px 0;
                overflow-x: auto;
            }
        }
    }
}